body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
}

section {
  display: none;
}

section.active {
  display: block;
}

.nav-link {
  cursor: pointer;
}

footer a {
  text-decoration: none;
  color: inherit;
}

footer a:hover {
  text-decoration: underline;
}
